[Unit]
Description=Initialize Quark-N H3 audio mixer
After=sound.target
Wants=sound.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/quark-audio-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
